@keyframes shift-down {
    from {margin-top: -200px ;}
    to {margin-top: 0px;}
}

@keyframes shift-left {
    from {margin-left: -150px ;}
    to {margin-left: 50px;}
}

body {
    margin: 0;
    background-color: black;
}

#background {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    
  }

#background video {
    min-width: 150%; 
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-family:"Audiowide", sans-serif;
    font-size: 63px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 5px 5px rgb(255, 0, 0), 0 0 1em rgb(255, 0, 0), 0 0 1em grey;
}

h3 {
    font-family:"Audiowide", sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 5px 5px rgb(18, 218, 0), 0 0 1em rgb(18, 218, 0), 0 0 1em grey;
}
h2 {
    font-family: "Montserrat", sans-serif;
    top: 0;
    color: #f1f1f1;
    font-size: 40px;
    font-weight:900;
    text-shadow: 2px 2px 2px cornflowerblue, 0 0 1em blue, 0 0 1em grey;
    width: 100%;
    padding: 0px;
    margin: 0;
}

.singleplayer {
    position: fixed;
    margin-top: 150px;
    margin-left: 50px;
}

.multiplayer {
    position: fixed;
    margin-top: 175px;
    margin-left: 50px
}

.party {
    position: fixed;
    margin-top: 200px;
    margin-left: 50px
}

.quiz {
    position: fixed;
    margin-top: 225px;
    margin-left: 50px
}

.shop {
    position: fixed;
    margin-top: 250px;
    margin-left: 50px
}

.community {
    position: fixed;
    margin-top: 275px;
    margin-left: 50px
}

.game_name {
    position: absolute;
    margin-top: 0px;
    margin-left: 870px;
    animation-name: shift-down;
    animation-duration: 2s;
}

h2:hover {
    color: blue;
    cursor: pointer;
}